body {
  background-color: azure;
}

.modal {
  width: 400px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: red;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
